In [160]:
import pandas as pd

In [161]:
df = pd.read_csv('data/speeddating.csv')

In [162]:
df.head()

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,samerace,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,b'',1.0,b'female',21.0,27.0,6.0,b'[4-6]',b'Asian/Pacific Islander/Asian-American',b'European/Caucasian-American',b'0',...,b'[0-3]',b'[3-5]',7.0,6.0,b'[6-8]',b'[5-6]',0.0,b'1',b'0',b'0'
1,b'',1.0,b'female',21.0,22.0,1.0,b'[0-1]',b'Asian/Pacific Islander/Asian-American',b'European/Caucasian-American',b'0',...,b'[0-3]',b'[3-5]',7.0,5.0,b'[6-8]',b'[5-6]',1.0,b'1',b'0',b'0'
2,b'',1.0,b'female',21.0,22.0,1.0,b'[0-1]',b'Asian/Pacific Islander/Asian-American',b'Asian/Pacific Islander/Asian-American',b'1',...,b'[0-3]',b'[3-5]',7.0,NaN,b'[6-8]',b'[0-4]',1.0,b'1',b'1',b'1'
3,b'',1.0,b'female',21.0,23.0,2.0,b'[2-3]',b'Asian/Pacific Islander/Asian-American',b'European/Caucasian-American',b'0',...,b'[0-3]',b'[3-5]',7.0,6.0,b'[6-8]',b'[5-6]',0.0,b'1',b'1',b'1'
4,b'',1.0,b'female',21.0,24.0,3.0,b'[2-3]',b'Asian/Pacific Islander/Asian-American',b'Latino/Hispanic American',b'0',...,b'[0-3]',b'[3-5]',6.0,6.0,b'[6-8]',b'[5-6]',0.0,b'1',b'1',b'1'

In [163]:
df.describe()

,wave,age,age_o,d_age,importance_same_race,importance_same_religion,pref_o_attractive,pref_o_sincere,pref_o_intelligence,pref_o_funny,...,music,shopping,yoga,interests_correlate,expected_happy_with_sd_people,expected_num_interested_in_me,expected_num_matches,like,guess_prob_liked,met
count,8378.000000,8283.000000,8274.000000,8378.000000,8299.000000,8299.000000,8289.000000,8289.000000,8289.000000,8280.000000,...,8299.000000,8299.000000,8299.000000,8220.000000,8277.000000,1800.000000,7205.000000,8138.000000,8069.000000,8003.000000
mean,11.350919,26.358928,26.364999,4.185605,3.784793,3.651645,22.495347,17.396867,20.270759,17.459714,...,7.851066,5.631281,4.339197,0.196010,5.534131,5.570556,3.207814,6.134087,5.207523,0.049856
std,5.995903,3.566763,3.563648,4.596171,2.845708,2.805237,12.569802,7.044003,6.782895,6.085526,...,1.791827,2.608913,2.717612,0.303539,1.734059,4.762569,2.444813,1.841285,2.129565,0.282168
min,1.000000,18.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,-0.830000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,24.000000,24.000000,1.000000,1.000000,1.000000,15.000000,15.000000,17.390000,15.000000,...,7.000000,4.000000,2.000000,-0.020000,5.000000,2.000000,2.000000,5.000000,4.000000,0.000000
50%,11.000000,26.000000,26.000000,3.000000,3.000000,3.000000,20.000000,18.370000,20.000000,18.000000,...,8.000000,6.000000,4.000000,0.210000,6.000000,4.000000,3.000000,6.000000,5.000000,0.000000
75%,15.000000,28.000000,28.000000,5.000000,6.000000,6.000000,25.000000,20.000000,23.810000,20.000000,...,9.000000,8.000000,7.000000,0.430000,7.000000,8.000000,4.000000,7.000000,7.000000,0.000000
max,21.000000,55.000000,55.000000,37.000000,10.000000,10.000000,100.000000,60.000000,50.000000,50.000000,...,10.000000,10.000000,10.000000,0.910000,10.000000,20.000000,18.000000,10.000000,10.000000,8.000000

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Columns: 123 entries, has_null to match
dtypes: float64(59), object(64)
memory usage: 7.9+ MB

In [165]:
df.drop('has_null', axis = 1, inplace = True)

In [166]:
df.select_dtypes(include = 'object')

,gender,d_d_age,race,race_o,samerace,d_importance_same_race,d_importance_same_religion,field,d_pref_o_attractive,d_pref_o_sincere,...,d_yoga,d_interests_correlate,d_expected_happy_with_sd_people,d_expected_num_interested_in_me,d_expected_num_matches,d_like,d_guess_prob_liked,decision,decision_o,match
0,b'female',b'[4-6]',b'Asian/Pacific Islander/Asian-American',b'European/Caucasian-American',b'0',b'[2-5]',b'[2-5]',b'Law',b'[21-100]',b'[16-20]',...,b'[0-5]',b'[0-0.33]',b'[0-4]',b'[0-3]',b'[3-5]',b'[6-8]',b'[5-6]',b'1',b'0',b'0'
1,b'female',b'[0-1]',b'Asian/Pacific Islander/Asian-American',b'European/Caucasian-American',b'0',b'[2-5]',b'[2-5]',b'Law',b'[21-100]',b'[0-15]',...,b'[0-5]',b'[0.33-1]',b'[0-4]',b'[0-3]',b'[3-5]',b'[6-8]',b'[5-6]',b'1',b'0',b'0'
2,b'female',b'[0-1]',b'Asian/Pacific Islander/Asian-American',b'Asian/Pacific Islander/Asian-American',b'1',b'[2-5]',b'[2-5]',b'Law',b'[16-20]',b'[16-20]',...,b'[0-5]',b'[0-0.33]',b'[0-4]',b'[0-3]',b'[3-5]',b'[6-8]',b'[0-4]',b'1',b'1',b'1'
3,b'female',b'[2-3]',b'Asian/Pacific Islander/Asian-American',b'European/Caucasian-American',b'0',b'[2-5]',b'[2-5]',b'Law',b'[21-100]',b'[0-15]',...,b'[0-5]',b'[0.33-1]',b'[0-4]',b'[0-3]',b'[3-5]',b'[6-8]',b'[5-6]',b'1',b'1',b'1'
4,b'female',b'[2-3]',b'Asian/Pacific Islander/Asian-American',b'Latino/Hispanic American',b'0',b'[2-5]',b'[2-5]',b'Law',b'[21-100]',b'[0-15]',...,b'[0-5]',b'[0-0.33]',b'[0-4]',b'[0-3]',b'[3-5]',b'[6-8]',b'[5-6]',b'1',b'1',b'1'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,b'male',b'[0-1]',b'European/Caucasian-American',b'Latino/Hispanic American',b'0',b'[0-1]',b'[0-1]',b'Climate Dynamics',b'[0-15]',b'[0-15]',...,b'[0-5]',b'[0.33-1]',b'[7-10]',b'[0-3]',b'[3-5]',b'[0-5]',b'[5-6]',b'0',b'1',b'0'
8374,b'male',b'[0-1]',b'European/Caucasian-American',b'Other',b'0',b'[0-1]',b'[0-1]',b'Climate Dynamics',b'[21-100]',b'[16-20]',...,b'[0-5]',b'[0.33-1]',b'[7-10]',b'[0-3]',b'[3-5]',b'[0-5]',b'[0-4]',b'0',b'0',b'0'
8375,b'male',b'[4-6]',b'European/Caucasian-American',b'Latino/Hispanic American',b'0',b'[0-1]',b'[0-1]',b'Climate Dynamics',b'[21-100]',b'[0-15]',...,b'[0-5]',b'[-1-0]',b'[7-10]',b'[0-3]',b'[3-5]',b'[6-8]',b'[5-6]',b'0',b'0',b'0'
8376,b'male',b'[2-3]',b'European/Caucasian-American',b'Asian/Pacific Islander/Asian-American',b'0',b'[0-1]',b'[0-1]',b'Climate Dynamics',b'[0-15]',b'[21-100]',...,b'[0-5]',b'[0.33-1]',b'[7-10]',b'[0-3]',b'[3-5]',b'[0-5]',b'[5-6]',b'0',b'1',b'0'
8377,b'male',b'[2-3]',b'European/Caucasian-American',b'Asian/Pacific Islander/Asian-American',b'0',b'[0-1]',b'[0-1]',b'Climate Dynamics',b'[16-20]',b'[16-20]',...,b'[0-5]',b'[0-0.33]',b'[7-10]',b'[0-3]',b'[3-5]',b'[0-5]',b'[5-6]',b'0',b'1',b'0'

In [167]:
from sklearn.preprocessing import OrdinalEncoder

for col in df.columns:
    if df[col].dtype == "object" :
        oe = OrdinalEncoder()
        oe.fit(df[[col]])
        df[col] = oe.fit_transform(df[[col]])

In [168]:
df.head()

,wave,gender,age,age_o,d_age,d_d_age,race,race_o,samerace,importance_same_race,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,1.0,0.0,21.0,27.0,6.0,2.0,1.0,3.0,0.0,2.0,...,0.0,1.0,7.0,6.0,1.0,1.0,0.0,1.0,0.0,0.0
1,1.0,0.0,21.0,22.0,1.0,0.0,1.0,3.0,0.0,2.0,...,0.0,1.0,7.0,5.0,1.0,1.0,1.0,1.0,0.0,0.0
2,1.0,0.0,21.0,22.0,1.0,0.0,1.0,1.0,1.0,2.0,...,0.0,1.0,7.0,NaN,1.0,0.0,1.0,1.0,1.0,1.0
3,1.0,0.0,21.0,23.0,2.0,1.0,1.0,3.0,0.0,2.0,...,0.0,1.0,7.0,6.0,1.0,1.0,0.0,1.0,1.0,1.0
4,1.0,0.0,21.0,24.0,3.0,1.0,1.0,4.0,0.0,2.0,...,0.0,1.0,6.0,6.0,1.0,1.0,0.0,1.0,1.0,1.0

In [169]:
df.isna().sum()

wave                    0
gender                  0
age                    95
age_o                 104
d_age                   0
                     ...
d_guess_prob_liked      0
met                   375
decision                0
decision_o              0
match                   0
Length: 122, dtype: int64

In [170]:
df.dropna(inplace = True)

In [171]:
X = df.drop(['match'], axis = 1)
y = df['match']

In [172]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.25, random_state = 0)

dt = DecisionTreeClassifier(max_depth = 5, random_state = 0)

dt.fit(xtrain, ytrain)
dt.score(xtest, ytest)

1.0

### Obviously it would be very easy to have 100% accuracy with a df that has 2 columns that have the decision of the two people ("decision", "decision_o"), so I will remove these two columns from the training to make things more interesting

In [173]:
X = df.drop(['match', 'decision', 'decision_o'], axis = 1)
y = df['match']

In [175]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier

xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.25, random_state = 0)

gbc = GradientBoostingClassifier(max_depth = 4, random_state = 0)

gbc.fit(xtrain, ytrain)
pred = gbc.predict(xtest)

In [184]:
from sklearn.metrics import accuracy_score

pd.crosstab(ytest, pred, rownames = ['Real'], colnames = ['Predito'], margins = True)

Predito  0.0  1.0  All
Real
0.0      213   10  223
1.0       26   13   39
All      239   23  262

### Acurácia

In [185]:
from sklearn.metrics import accuracy_score

acuracia = accuracy_score(ytest, pred)
print('Acurácia: %f' % acuracia)

Acurácia: 0.862595

### Precision

In [187]:
from sklearn.metrics import precision_score

precision = precision_score(ytest, pred)
print('Precision: %f' % precision)

Precision: 0.565217

### Recall

In [188]:
from sklearn.metrics import recall_score

recall = recall_score(ytest, pred)
print('Recall: %f' % recall)

Recall: 0.333333

### F1-Score

In [190]:
from sklearn.metrics import f1_score

f1 = f1_score(ytest, pred)
print('F1-Score: %f' % f1)

F1-Score: 0.419355

## The numbers aren't very nice :( the program is getting it right more when they don't match, I'll end it here.

_